<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style/css/stylesheet.css" title="style" />
	<script src="../javascript/prototype.js" type="text/JavaScript"></script>
	<script src="../javascript/common.js" type="text/JavaScript"></script>
    <script src="../javascript/forms.js" type="text/JavaScript"></script>
    <script src="../javascript/ajax.js" type="text/JavaScript"></script>    
	<script src="../javascript/scriptaculous/scriptaculous.js?load=effects" type="text/JavaScript"></script>
    <script src="./javascript.js" type="text/JavaScript"></script>
	<title>openBooking - Installation</title>
</head>

<body>
    <div id="header">
        <h1><a href="index.php"><img src="images/logo.jpg" alt="openBooking Logo" /></a></h1>
    </div>
    
    <div id="wrapper">
    <div id="tab_bar">
        <ul class="inline">
            <li<?php if ($tab == "display") { echo ' class="active_tab"';}?>><a href="index.php"><span>Installation</span></a></li>
            <li<?php if ($tab == "license") { echo ' class="active_tab"';}?>><a href="index.php?tab=license"><span>License</span></a></li>
        </ul>
    </div>
    
    <div id="content"> 
<!-- START PAGE-SPECIFIC CONTENT -->
