<?php $padding = $loc['loc_type'] * LOCATION_INDENT; $children = ($loc['loc_num_children'] > 0) ? TRUE : FALSE;?>
<p id="loc_<?php echo $loc['location_id']; ?>" class="location parent_<?php echo $loc['loc_parent_id'];?>" style="margin-left: <?php echo $padding; ?>px">
    <?php if (($children) && ($loc['loc_type'] == 3)) {?>
        <a id="hide_<?php echo $loc['location_id']; ?>" href="javascript:hideChildren('<?php echo $loc['location_id'];?>')">-</a>
    <?php }?>
    <strong><?php echo $loc['loc_name']; ?></strong>
    <span style="float: right">
        <?php if (!$children) { ?><a href="javascript:deleteLoc('<?php echo $loc['location_id']; ?>')"><img src="style/images/icons/delete.png" alt="Delete" title="Delete <?php echo $loc['loc_name']; ?>" /></a>&nbsp;<?php } ?>
        <a href="javascript:showUpdate('<?php echo $loc['location_id']; ?>')"><img src="style/images/icons/update.png" alt="Update" title="Update <?php echo $loc['loc_name']; ?>" /></a>
    </span>
</p>
