   <?php if (!$row) { ?><tr style="height: 23px" id="row_<?php echo $res['resource_id']; ?>"><?php } ?>
        <td><p><img src="style/images/icons/resource_<?php echo $res['bookable'];?>.png" alt="Resource Activity" /></p></td>
        <td><p><?php echo $res['resource_name']; ?></p></td>
        <td><p><?php echo $all_categories[$res['category_id']]; ?></p></td>
        <!--<td><p><?php echo $res['owner_id']; ?></p></td>-->
        <td><p><?php echo $all_locations_assoc[$res['return_location_id']]['loc_name']; ?></p></td>
        <td><p><?php echo $all_locations_assoc[$res['booking_location_id']]['loc_name']; ?></p></td>
        <!--<td><p><?php echo $res['advance'] . " " . $time_units[$res['advance_unit']]; ?></p></td>
        <td><p><?php echo $res['mtbb_time'] . " " . $time_units[$res['mtbb_unit']]; ?></p></td>-->
        <td>
            <p>
                <a href="javascript:toggle_delete('<?php echo $res['resource_id'];?>')"><img src="style/images/icons/delete.png" alt="Delete" /></a>&nbsp;
                <a href="javascript:toggle_edit('<?php echo $res['resource_id'];?>')"><img src="style/images/icons/update.png" alt="Update" /></a>
            </p>
        </td>
    <?php if (!$row) { ?></tr><?php } ?>
