<h3>Update Slot</h3>
<p>Edit the details below, and click "Update" to save the changes.</p>

<script src="javascript/forms.js" type="text/JavaScript"></script>
    <fieldset><legend>Slot Update</legend>
        <form action="slots.php?mode=update" method="post" onsubmit="return slot_validate(this)">
        <p>Enter the details of the slot you want to create.</p>
        <dl>    
            <dt><label><strong>Start Time</strong> <small>(24-hour HH:MM)</small></label></dt>
            <dd>
                <input class="mono" type="text" name="start_time_h" id="s_h" size="2" value="<?php echo $template['start_hr']; ?>" maxlength="2" />&nbsp;:
                <input class="mono" type="text" name="start_time_m" id="s_m" size="2" value="<?php echo $template['start_mn']; ?>" maxlength="2" />
            </dd>
        </dl><dl>
            <dt><label><strong>End Time</strong> <small>(24-hour HH:MM)</small></label></dt>
            <dd>
                <input class="mono" type="text" name="end_time_h" id="e_h" size="2" value="<?php echo $template['end_hr']; ?>" maxlength="2" />&nbsp;:
                <input class="mono" type="text" name="end_time_m" id="e_m" size="2" value="<?php echo $template['end_mn']; ?>" maxlength="2" />
            </dd>
        </dl><dl>
            <dt><label><strong>Days Available</strong> <small>| <a href="javascript:check_all('days')">Check All</a></small></label></dt>
                <dd>
                    <?php echo $template['hash']; ?>
               </dd>
       </dl><dl>
           <dd><input type="hidden" name="slot_id" value="<?php echo $template['slot_id']; ?>" /><input type="submit" value="Update" name="submit" /></dd>
       </dl>
       </form>
    </fieldset>
