<tr id="row_<?php echo $booking['booking_id'];?>">
    <td><p><?php echo $booking['resource_name']; ?></p></td>
    <td><p><?php echo $booking['date']; ?></p></td>
    <td><p><?php echo $booking['time_start']; ?></p></td>
    <td><p><?php echo $booking['time_end']; ?></p></td>
    <td><p><?php echo $all_locations[$booking['booking_location_id']]['loc_name']; ?></p></td>
    <td><p><?php echo $all_locations[$booking['return_location_id']]['loc_name']; ?></p></td>
    <?php if (strcmp($template['realm'],"all") == 0){
        echo '<td><p><a href="index.php?tab=bookings';
        if(strcmp($booking['user_id'],$_SESSION['username']) != 0){ 
            echo "&amp;user=" . $booking['user_id'] . '"';
        }
        echo '">' . $booking['user_id'] . "</a></p></td>";}?>
    <?php if ((strcmp($_SESSION['username'],$booking['user_id']) == 0) || ($_SESSION['admin'])){?>
    <td>
        <p>
            <a href="javascript:toggle_delete('<?php echo $booking['booking_id'];?>')"><img src="style/images/icons/delete.png" alt="Delete" /></a>
        </p>
    </td>
    <?php } ?>
</tr>
