<h3>Update Category</h3>
<form action="#" method="post" id="update_category" onsubmit="return false">
    <p>
        <label for="category_name"><strong>Category Name</strong></label>&nbsp;&nbsp;
        <input type="text" size="10" name="category_name" id="category_name" value="<?php echo $category['category_name'];?>"/>
    </p><p>
        <input type="hidden" name="id" value="<?php echo $category['category_id'];?>" />
        <input type="button" onclick="javascript:update_category('<?php echo $update;?>')" name="submit" value="Update" />&nbsp;&nbsp;
        <input type="button" onclick="javascript:hide_element('AJAX_update')" value="Cancel" />
    </p>
</form>
