<div style="margin-right: 185px;">

<h2><?php echo $template['page_header']; ?></h2>
<p><strong>It is recommended that the map is constructed in a "bottom-up" fashion, with the Buildings created first, then the nested locations created as necessary.</strong></p>
<p>Only locations that have no sub-locations can be deleted or have their parent location changed. 'Area' locations can be used to group rooms together, for example by department.</p>

    <h3>Locations</h3>
    <div id="locations_map">
        <?php echo $template['locations']; ?>
    </div>
</div>
