<div style="margin-right: 210px;">
    <h2><?php echo $template['page_header']; ?></h2>
    
    <h3>Resources</h3>
    <p>The columns in the table below detail if the resource is actively bookable, plus the return and bookable locations as well as the time that the resource can be booked in advance and the 'MTBB' - the Minimum Time Between Bookings.</p>
    <p>At present, all resources are available to book on all configured slots, and all resources are considered mobile.</p>
    <table id="resources_table" class="resources" style="margin: 0px auto;" border="0" cellspacing="1" cellpadding="3">
    <thead>
    <tr>
        <th rowspan="2" title="Resource Active">Act</th>
        <th rowspan="2">Name</th>
        <th rowspan="2">Category</th>
        <!--<th rowspan="2">Owner</th>-->
        <th colspan="2">Locations</th>
        <!--<th colspan="2">Times</th>-->
    </tr><tr>
        <th title="Return Location">Return</th>
        <th title="Booking Location">Booking</th>
        <!--<th title="Advance Booking Time">Advance</th>
        <th><acronym title="The minimum time between bookings">MTBB</acronym></th>-->
    </tr>
    </thead>
    <tbody id="resources_container">
        <?php echo $template['resources']; ?>
    </tbody>
    </table>
</div>
