<script src="javascript/forms.js" type="text/JavaScript"></script>
<script src="javascript/ajax.js" type="text/JavaScript"></script>
<script src="javascript/slots.js" type="text/JavaScript"></script>

<div style="width: 225px; padding-top: 10px;float: right">
    <div id="AJAX_update">&nbsp;</div>
    <fieldset style="padding-top: 0px;background: #f2f2f2"><h3>Create Slot</h3>
        <form action="#" method="post" id="create" onsubmit="return false">
        <dl>    
            <dt><label><strong>Start Time</strong> <small>(24-hour HH:MM)</small></label></dt>
            <dd>
                <input class="mono" type="text" name="start_time_h" id="s_h" size="2" maxlength="2" />&nbsp;:
                <input class="mono" type="text" name="start_time_m" id="s_m" size="2" maxlength="2" />
            </dd>
        </dl><dl>
            <dt><label><strong>End Time</strong> <small>(24-hour HH:MM)</small></label></dt>
            <dd>
                <input class="mono" type="text" name="end_time_h" id="e_h" size="2" maxlength="2" />&nbsp;:
                <input class="mono" type="text" name="end_time_m" id="e_m" size="2" maxlength="2" />
            </dd>
        </dl><dl>
            <dt><label><strong>Days Available</strong> <small>| <a href="javascript:check_all('days')">Check All</a></small></label></dt>
                <dd>
                    <?php echo $template['days_hash_form']; ?>
               </dd>
       </dl><dl>
           <dd><input type="button" onclick="javascript:if(slot_validate()){ajax_form_submit('create', 'AJAX_update', 'admin.php?tab=slots&amp;mode=create&amp;ajax',true,'slots_container', 'admin.php?tab=slots&amp;ajax');}" value="Create Slot" name="submit" /></dd>
       </dl>
       </form>
    </fieldset>
   
</div>
